{% extends 'base.html' %}

{% block content %}
<br><br><br><br><br>
<p>
  You will now be shown a different series of questions, six different times. Please fill them out with the help of the second simulated user (One of the times, the simulated user will not assist you). If you and the second user answer the same question, you must correct the answer before you submit. After the end of each question set you will be asked about your experiences.
</p>
<form action='/'>
<button type="submit" class="btn btn-primary">Continue</button>
  </form>
{% endblock %}
