

   {% extends 'base.html' %}
{% block content %}
<script>
  const delayParam={{delay}};
  </script>
   <div class="container">
     <body>
       <br><br>
       <h2>Please fill out these questions</h2>

       <br><br>
       {% for question in qas %}
       <div class="row">
	 <div class="col-1"></div>
	   <div class="col-5">
	      {{ question[0] }}
	     </div>
	     <div class="col-5">
        <input type="text" id="answer{{ loop.index-1 }}" num={{ loop.index-1 }} answer="{{ question[1] }}"/>
	</div>
	<div class="col-3">
	  </div>
</div>
       {% endfor %}

      
       
       <form action="/" id="questions_form" method='POST'>
	 <input type="hidden" name="delay" value="{{ delay }}"/>
	 <input type="hidden" id='start_time' name='start_time' value=''/>
	 <input type="hidden" id='automerge_data' name='automerge_data' value=''/>
	 <button class="btn btn-primary" id="submit_button">Submit</button>
       </form>
{% if debug %}
  <button class="btn" id="start">Start</button>
  <button class="btn" id="clear">Clear</button>
{% endif %}
<script>
  const delayParam={{delay}};
  document.getElementById('start_time').value = Date.now()
</script>

<script src="main.js"/>
</script>
{% if debug %}

{{ delay }}

{% endif %}

     </body>
   </div>
  {% endblock %}

