{% extends 'base.html' %}

{% block content %}

<style>

  /*.likert li {
  float: left;
  list-style-type: none;
  }
*/

    

    .likert {
        --likert-rows: 5;
        display: inline-grid;
        max-width: 900px;
        grid-auto-rows: 1fr;
        gap: 1em;
        grid-template-columns: repeat(var(--likert-rows), minmax(0, 1fr));
    }

    @media only screen and (max-width: 680px) {
        .likert {
            grid-template-columns: minmax(0, 200px);
            justify-content: center;
        }
    }

    .likert input {
        max-width: 250px;
        position: fixed;
        opacity: 0;
        pointer-events: none;
    }


    .likert span {
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        padding: 20px;
        background: #dcdcdc;
        transition: background .2s ease-in-out;
    }

    .likert input:checked + span {
        outline: black auto 1px;
        background: transparent;
    }

    .likert input:focus + span {
        outline: -webkit-focus-ring-color auto 1px;
    }

    .likert span:hover {
        background: #f1f1f1;
        outline: lightgrey auto 0.5px;
    }
    

  
  </style>
<h2>Please answer some questions on your experience</h2>

<br>

<form action='/' method='POST'>
    I found working with the second user frustrating:
<input type='hidden' name='filled'/>

<div class="likert">
    <label><input name="rating" type="radio" value="1"/><span>Not frustrating at all</span></label>
    <label><input name="rating" type="radio" value="2"/><span>a tiny bit frustrating</span></label>
    <label><input name="rating" type="radio" value="3"/><span>Slightly frustrating</span></label>
    <label><input name="rating" type="radio" value="4"/><span>very frustrating</span></label>
    <label><input name="rating" type="radio" value="5"/><span>Highly frustrating, not usable</span></label>
</div>
<br><br>
Please leave a few words to review your experience: <br><br>
<textarea name="review" maxlength="1000"></textarea>
<br><br>
<input type="hidden" name="delay" value="{{ delay }}" />
 <input type="hidden" id='start_time' name='start_time' value=''/>
<button class="btn btn-primary">Next</button>
  </form>


<script>
  document.getElementById('start_time').value = Date.now()
</script>
{% endblock %}
