{% extends 'base.html' %}

{% block content %}

<style>

  /*.likert li {
  float: left;
  list-style-type: none;
  }
*/
    .likert {
        --likert-rows: 5;
        display: inline-grid;
        max-width: 900px;
        grid-auto-rows: 1fr;
        gap: 1em;
        grid-template-columns: repeat(var(--likert-rows), minmax(0, 1fr));
    }

    @media only screen and (max-width: 680px) {
        .likert {
            grid-template-columns: minmax(0, 200px);
            justify-content: center;
        }
    }

    .likert input {
        max-width: 250px;
        position: fixed;
        opacity: 0;
        pointer-events: none;
    }


    .likert span {
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        padding: 20px;
        background: #dcdcdc;
        transition: background .2s ease-in-out;
    }

    .likert input:checked + span {
        outline: black auto 1px;
        background: transparent;
    }

    .likert input:focus + span {
        outline: -webkit-focus-ring-color auto 1px;
    }

    .likert span:hover {
        background: #f1f1f1;
        outline: lightgrey auto 0.5px;
    }
    

  
</style>
<br><br>
<h2>Please answer some questions on the experience you just had with the second user</h2>

<br>

<form class="needs-validation" action='/' method='POST'>
    I found working with the second user frustrating:
<input type='hidden' name='filled'/>

<div class="likert form-check">
    <label><input class="form-check-input" name="rating" type="radio" value="1" required /><span>Not frustrating at all</span></label>
    <label><input class="form-check-input" name="rating" type="radio" value="2" required /><span>a tiny bit frustrating</span></label>
    <label><input class="form-check-input" name="rating" type="radio" value="3" required /><span>Slightly frustrating</span></label>
    <label><input class="form-check-input" name="rating" type="radio" value="4" required /><span>very frustrating</span></label>
    <label><input class="form-check-input" name="rating" type="radio" value="5" required /><span>Highly frustrating, not usable</span></label>
</div>
<br><br>
    What effect did the 2nd user have on how long it took to complete the task:

<div class="likert form-check">
    <label><input class="form-check-input" name="speed_rating" type="radio" value="1" required /><span>Much slower</span></label>
    <label><input class="form-check-input" name="speed_rating" type="radio" value="2" required /><span>Slightly slower</span></label>
    <label><input class="form-check-input" name="speed_rating" type="radio" value="3" required /><span>No change</span></label>
    <label><input class="form-check-input" name="speed_rating" type="radio" value="4" required /><span>slightly quicker</span></label>
    <label><input class="form-check-input" name="speed_rating" type="radio" value="5" required /><span>Much more quickly</span></label>
</div>

<br><br>
    Did you have to adapt your actions because the 2nd user was unpredictable? If yes, please describe how below.<br>


<div class="form-check">
  <input class="form-check-input" type="radio" value="True" name='adapted' id="box1" required>
  <label class="form-check-label" for="flexRadioDefault">
     Yes
  </label>
</div>

<div class="form-check">
  <input class="form-check-input" type="radio" value="False" name="adapted" id="box2" required>
  <label class="form-check-label" for="flexRadioDefault">
    No
  </label>
</div>


<br><br>
Please leave a few words to review your experience of working with the second user: <br><br>
<textarea name="review" class="form-control" maxlength="1000"></textarea>
<br><br>
<input type="hidden" name="delay" value="{{ delay }}" />
 <input type="hidden" id='start_time' name='start_time' value=''/>
<button class="btn btn-primary">Next</button>
  </form>


<script>
  document.getElementById('start_time').value = Date.now()
</script>
{% endblock %}
